apiVersion: app/v1
kind: Deployment
metadata:
 name: myapp-replicaset
  labels:
   app:
spec:
  selector:
    matchLabels:
      app: myapp
  replicas: 4
  template:
    metadata:
      name: nginx-2\
      labels:
        app: myapp
    spec:
      containers:
        - name: nginx
        - image: nginx
